<div class="d-flex" id="greeter">
<%= image_tag("w_flags.jpg", alt: "World Flags", :id => "flags") %>
<div class="greet d-flex flex-column">
<div class="text-center"> Learn, speak, and have fun learning the language with
other people</div>
<button id="register"><%= link_to "Start looking", "#", class: "text-center" %></button>
</div>
</div>
