<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "fabulari" , root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto m-links">
      <%= link_to "Profile", "#", class: "nav-item nav-link" %>
      <%= link_to "Friends", "#", class: "nav-item nav-link" %>
      <%= link_to "Find People", "#", class: "nav-item nav-link" %>
    </div>
  </div>
</nav>
